/* selector de tipo */
div {
    background-color: beige;
    font-size: 40px;
}
h2 {
    color: blueviolet!important;
}
/* selector de clase */
.fondo-amarillo {
    background-color: yellow;
    color:aqua;
}

/* selector de id */
#texto-resaltado-1 {
    font-style: italic;
    background-color: yellowgreen;
    color: darkblue;
}